<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="  
       http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd   
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.3.xsd
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <!-- 配置bean对象  -->
    <bean id="helloService"
          class="beans.HelloService"/>
    <!-- 通过class的静态方法构建类的对象(类的实例) -->      
    <bean id="calendar" 
          class="java.util.Calendar"
          factory-method="getInstance"/>
    <!-- 通过Bean对象的实例方法构建类的对象(了解) -->
    <bean id="date"
          factory-bean="calendar"
          factory-method="getTime"/>  
          
    <!-- 通过工厂Bean对象构建工厂对象 -->
    <bean id="objectFactory"
          class="beans.ObjectFactoryBean"/>
    
    <!-- 1.bean对象的作用域设置(借助scope属性配置)
         1) singleton (单例作用域):默认单例
         2) prototype (多例作用域)
         3) ....
     -->  
    <bean id="dataSource"
          class="beans.OpenDataSource"
          scope="singleton"
          lazy-init="true"
          init-method="init"
          destroy-method="close">
        <!-- set注入(通过属性名对应的set方法为属性赋值) -->
        <property name="Driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///test"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
          
</beans>


